body {
    background-color: #fffdd0;
    min-width: none;
    max-width: 100%;
}

/*Header starts here*/

.header {
    font-size: medium;
    text-align: center;  
    background-color: #030E4F;
    min-width: none;
    max-width: 100%;
}

.Logo {
    width: 7%;
}

.navigation-Event-1-Page {
    background-color: #F49F1C;
    width: auto;
    border: 10px solid #F49F1C;
    padding: 10px;
    display:grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    text-align: center;
    list-style-type: none;
}

.nav-home {
    text-decoration: none;
}

.nav-Hotel-Branch {
    text-decoration: none;
}

.nav-Adventures {
    text-decoration: none;
}

.nav-Event-1-Page {
    text-decoration: none;
}

.nav-Event-2-Page {
    text-decoration: none;
}

.nav-Restaurant {
    text-decoration: none;
}

.nav-Hotel-Booking-and-adventure-booking {
    text-decoration: none;
}

/*Header ends here*/

/*Wedding section starts here*/

.Wedding-Heading {
    text-align: center;
    color: blue;
    font-size: 40px;
    animation-name: x;
    animation-duration: 4s;
    animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;

}

@keyframes x{
    from{color: blue; margin-left: 0%;}
    to{color: black; margin-left: 50%;}
}

.Wedding-Image {
    width: 80%;
    height: 80%;
    margin-left: 9.868421%;
    border: 1px;
}

.Wedding-Description {
    text-align: center;
    font-family: "Serif", sans-serif;
}

/*Wedding section ends here*/

/*Gallery section starts here*/

.Gallery-Heading {
    text-align: center;
}

.Gallery-Images {
    width: 19.736842%;
    height: 20%;
    border: 1px;
}

/*Gallery section ends here*/

/*Key Facts section starts here*/

.Key-Facts {
    text-align: center;
}

.Key-Facts-Description {
    text-align: center;
}

/*Key Facts section End here*/

/* Footer Page Starts here*/

.footer1 {
    display: flex;
    flex-direction: row;
    background-color: #6F4E37;
    color: white;
    font-style: normal;
}

.footer1 > section {
    flex: 1;
}

@media (max-width: 500px) {
    .footer1 {
        flex-direction: column;
    }
}

.footer-logo {
    width: 40%;
    margin-left: 10%;
    margin-top: 10%;
}

.footer-contact-information {
    width: 100%;
    height: 100%;
    text-size-adjust: 80%;
}

.footer-Quick-Links {
    width: 100%;
    height: 100%;
    text-size-adjust: 80%;
}

.footer-email {
    text-decoration: none;
    color: white;
    font-size: 100%;
}

.footer-go-to-top {
    text-decoration: none;
    font-size: 100%;
    margin-left: 16.447368%;
}

.footer-map {
    width: 90%;
    height: 13.333333%;
}

/* Footer Page Ends here*/